*{margin: 0; padding: 0;}

.tt h2 {
	text-transform: uppercase;
	font-size: 40px;
	color: white;
	margin-bottom: 22px;
}

.tt p {
	color: #000000;
	font-size: 16px;
	line-height: 20px;
	width: 100%;
	margin: auto;
	margin-bottom: 32px;
}

.tt img {
	border-radius: 50%;
	margin: 50px;
}

a.nuthire.btn.btn-primary {
	width: 180px;
	background: #000000;
	border: none;
}

.tt {z-index: 2;position: relative;padding-top: 100px;}

.khoithongtin1:before {
	content: "Make up";
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;/*chia nua mang hinh*/
	height: 100%;
	background: #ffb00e66;
	z-index: 1;
}

a.navbar-brand {
	padding: 0;
}

.khoithongtin1 {
	height: 100%;
	width: 100%;
	background: #ffb00ec2;
	position: relative;
	z-index: 1;
}

body, html {
	height: 100%;
	width: 100%;
}

nav.navbar.navbar-light.bg-faded.navbar-fixed-top {
	background: #e3eaea;
}

li.nav-item {
	margin: 0;
	padding: 0 17px;
}

a.nav-link {
	font-family: segoe ui;
	text-transform: uppercase;
	-webkit-text-stroke-width: medium;   
	font-size: 15px;
	color: #101010;
	line-height: 80px;
}

nav.navbar.navbar-light.bg-faded {
	margin: 0;
	padding: 0; 
	height: 100px;
} 

@media (max-width: 576px) {
	*{}

.tt img {
    margin-top: 76px;
    width: 150px;
    margin-bottom: 22px;
}

a.navbar-brand {
    display: block;
    text-align: center;
    width: 100%;
}

	li.nav-item {
		float: none!important;
		display: inline;
	}

	ul.nav.navbar-nav.float-xs-right {
		text-align: center;
		background: none;
		width: 100%;
		margin: 0;
		padding: 5px 7px;
	}

	li.nav-item {
		display: inline!important;
		margin: 0 0;
	}

	a.nav-link {
		line-height: 28px;
		display: inline!important;
		a.navbar-brand {;}
		display: block;
		text-align: center;
	}
}